body {
    background: url('img/chessB.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

header{
    margin-bottom: 15px;
}

div.container{
    width: 1140px;
    margin: auto;
    padding: 0 15px;
}

div.content{
    overflow: auto;
}

#chessboard {
    height: 680px;
    width: 680px;
    margin: auto;
    padding: 0px;
    float: left;

}

#chat {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 15px;
    float: left;
}

#promotion {
  height: 360px;
  width: 360px;
  position: absolute;

  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.tile {
    outline: 1px solid black;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 0px;
    float: left;
}

.selectedTile {
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(94,255,0,1);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(94,255,0,1);
    box-shadow: inset 0px 0px 20px 0px rgba(94,255,0,1);
}

.availableTile {
    -webkit-box-shadow: inset 0px 0px 24px 0px rgba(228,41,41,1);
    -moz-box-shadow: inset 0px 0px 24px 0px rgba(228,41,41,1);
    box-shadow: inset 0px 0px 24px 0px rgba(228,41,41,1);
}

.horizontalLabel {
    outline: 1px solid black;
    font-size: 20px;
    height: 20px;
    width: 80px;
    display: inline-block;
    margin: 0px;
    float: left;
    text-align: center;
}

.verticalLabel {
    outline: 1px solid black;
    font-size: 20px;
    height: 80px;
    width: 20px;
    display: inline-block;
    margin: 0px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

}

.zeroLabel {
    outline: 1px solid black;

    height: 20px;
    width: 20px;
    margin: 0px;
    float: left;
}

.white {
    background-color: #F5F5DC;
}

.black {
    background-color: #D2B48C;
}

.labelColor {
    background-color: #b3aca1;
}
img {
    width: 80px;
}

#messageToSend{
    width: 200px;
    max-width: 350px;
}